body {
    min-width: 320px;
    max-width: 823px;
    padding-bottom: 28px;
    background-color: #000000;
}

@font-face {
    font-family: 'Uni Neue';
    src: local('Uni Neue Bold'), local('Uni-Neue-Bold'),
        url('fonts/UniNeueBold.woff2') format('woff2'),
        url('fonts/UniNeueBold.woff') format('woff'),
        url('fonts/UniNeueBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

h3 {
    color: #ffffff;
    font-family: Uni Neue;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
}

.slider {
    background-color: #000000;
    overflow: hidden;
}

.slider__items {
    position: relative;
    display: flex;
    transition: 0.3s;
    left: 0;
}

.slider__item {
    padding: 20px 6px 20px 0;
}

.slider__item.swiper-slide-active {
    padding-left: 20px;
    width: auto !important;

}

.slider__item.swiper-slide-active>.slide {
    text-align: right;
    width: 85vw;
}

.slider__item.swiper-slide-active>.slide>.slide__text {
    display: block;
}

.slider__item>.slide {
    text-align: left;
    width: auto;
}

.slider__item>.slide>.slide__text {
    display: none;
}


.slide {
    background-color: #000000;
    position: relative;
    width: 85vw;
    text-align: right;
}

.slide__text {
    width: 200px;
    position: absolute;
    bottom: 30px;
    text-align: left;

}

.slide__text--main {
    width: 180px;
}

.slide__text--hidden {
    display: none;
}

.slide__title {
    color: #ffffff;
    font-family: SF Compact Display;
    font-size: 40px;
    line-height: 47px;
    margin: 0;
}

.slide__title--main {
    color: #ffffff;
    font-family: Uni Neue;
    font-size: 60px;
    line-height: 50px;
    margin: 0;
}

.slide__link {
    display: block;
    font-family: SF Compact Display;
    font-size: 14px;
    line-height: 16px;
    color: #FF781C;
    text-decoration: none;
    margin-top: 17px;
}

.slide__link:hover,
.slide__link:focus {
    color: #737373;
    cursor: pointer;
}

.slide__img {
    border-radius: 8px;


}

.slide__tag {
    font-family: SF Compact Display;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    position: absolute;
    top: 41px;
    left: 48px;
}

.slide__tag--hidden {
    display: none;
}

.slide__tag--hot::before {
    content: url("img/fire.svg");
    position: absolute;
    left: -20px;
    top: 0;
}

.slide__tag--location::before {
    content: url("img/location.svg");
    position: absolute;
    left: -20px;
    top: 0;
}

.slide__tag--tour::before {
    content: url("img/tour.svg");
    position: absolute;
    left: -20px;
    top: 0;
}

.swiper-pagination {
    margin-top: 17px;
}

.swiper-pagination-bullet {
    background-color: #333333;
    opacity: 1;
}

.swiper-pagination-bullet-active { 
    background-color: #FF781C;
}

.main-container {
    background: #151515;
}

.container {
    display: none;
    margin: 0;
    padding: 0;
}

.visible {
    display: block;
}

.video__title {
    color: #ffffff;
    font-family: Uni Neue;
    font-size: 26px;
    line-height: 30px;
    margin: 0;
    margin-left: 23px;
}

.video__title-container {
    display: flex;
    align-items: center;
    min-height: 88px;
    border-bottom: 1px solid #2A2A2A;
}

.video__link-mini {
    display: flex;
    align-items: center;
    min-height: 128px;
    position: relative;
    border-bottom: 1px solid #2A2A2A;
    text-decoration: none;
}

.video__link-mini--bookmarked {
    margin-left: 128px;
}

.video__link-mini--bookmarked::before {
    content: "";
    width: 128px;
    height: 100%;
    background-color: #FF781C;
    background-image: url('img/zkladka.svg');
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: -128px;
    top: 0;
}

.video__link:focus {
    background-color: #1C1C1C;
}

.video__text-mini {
    position: absolute;
    left: 72px;
    top: 45px;
}

.video__img-mini {
    margin-left: 9px;
    border-radius: 8px;
    opacity: 40%;
}

.text {
    font-family: SF Compact Display;
    font-size: 16px;
    line-height: 16px;
    color: #D5D5D5;
    margin: 0;
    margin-top: 4px;
}

.video__link {
    min-height: 200px;
    display: flex;

    position: relative;
    border-bottom: 1px solid #2A2A2A;
}

.video__img {
    border-radius: 8px;
    opacity: 40%;
    margin-left: 9px;
    margin-top: 24px;
}

.video__text {
    width: 224px;
    position: absolute;
    left: 59px;
    top: 117px;
}



.event {
    display: block;
    position: relative;
    border-bottom: 1px solid #2A2A2A;
    text-decoration: none;
}

.event:focus {
    background-color: #1C1C1C;
}

.event__img {
    margin-left: 20px;
    margin-top: 24px;
    border-radius: 8px;
    opacity: 40%;
}

.event__text {
    margin-top: 23px;
    margin-left: 20px;
}

.event__text--color {
    color: #FF781C;
}

.event__text-container {
    position: absolute;
    left: 69px;
    top: 81px;
}

.event__text-container h3 {
    font-family: Uni Neue;
    font-size: 22px;
    line-height: 26px;
    width: 214px;
    height: 80px;
}

.event__text-container .text {
    width: 156px;
    margin: 0;
}

.navigation {
    background-color: #000000;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.navigation__list {
    display: flex;
    justify-content: space-around;
    min-height: 60px;
    background-color: #000000;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation__list-item {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.navigation-link:focus .path-0 {
    fill: url('#orange-0');
}

.navigation-link:focus .path-1 {
    fill: url('#orange-1');
}